In [1]:
import pandas as pd
pizza = {'Nama': ['Amir', 'Fadli', 'Fatya','Rian','Rizal','Akbar','Imam','Iman','Rizky','Rahiel'],'Tinggi Badan':[120, 145, 165,170,140,150,155,166,175,166],'Berat Badan':[20,40,65,50,55,45,65,78,90,84]
}
pizza_df=pd.DataFrame(pizza)
pizza_df

     Nama  Tinggi Badan  Berat Badan
0    Amir           120           20
1   Fadli           145           40
2   Fatya           165           65
3    Rian           170           50
4    Alfi           140           55
5   Akbar           150           45
6  Satrio           155           65
7    Iman           166           78
8   Rizky           175           90
9   Rehan           166           84